# Godot-specific
.import/
*.import
export.cfg
export_presets.cfg

# User-specific editor settings
.editor_settings-*.json
*.godot/tmp/

# OS and IDE noise
.DS_Store
Thumbs.db
desktop.ini

# VSCode
.vscode/

# JetBrains (Rider, CLion, etc.)
.idea/
*.sublime-project
*.sublime-workspace

# Windows hidden files
ehthumbs.db
Icon?

